/* Here is where you put ::after 
1. Element selectors
2. Media queries
3. Global pseudo selections like (:root)
*/

:root{
  --bg-color: hotpink;
}

body {
  background-color: var(--bg-color);
}

h1 {
  font-size: 4.5rem;
}